[FORMAT]
indent-string=\t

[MASTER]
load-plugins=pylintplugins
disable=
    C0111, # missing docstring
    fixme,
    logging-not-lazy,
    too-many-locals,
    C0330, #: Wrong continued indentation
    invalid-name,
    line-too-long,
    broad-except,
    logging-format-interpolation