[FORMAT]
indent-string=\t

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=5

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no


[MASTER]
load-plugins=pylintplugins
disable=
    C0111, # missing docstring
    fixme,
    logging-not-lazy,
    too-many-locals,
    C0330, #: Wrong continued indentation
    invalid-name,
    line-too-long,
    broad-except,
    logging-format-interpolation,
    no-member,
    wildcard-import,
    unused-wildcard-import,
    unused-variable,
    protected-access,
    unused-import,
    using-constant-test